<div class="tableBox">
    <table>
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
                {{#each tableWaiter}}
            <tr>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
            <td data-column={{week_day}} value={{week_day}} class={{checked}}>{{waiter_name}}</td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>
<div class=''>
    <form action="/clear" method="GET">
        <button type="submit" name='clearWaiterShift'>Clear</button>
    </form>
</div>