<div class="tableBox">
    <table>
        <thead>
            <tr>
                {{#each checklist}}
                <th>{{week_day}}</th>
                {{/each}}
            </tr>

        </thead>

        <tbody>
            <tr>
                {{#each checklist}}
                <td data-column={{week_day}} class="{{checked}}" value={{week_day}}>
                <ul>
                    {{#each tableWaiter}}
                    <li>
                        {{shift}}
                    </li>
                    {{/each}}
                </ul>

                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>

</div>
<div class=''>
    <form action="/clear" method="GET">
        <button type="submit" name='clearWaiterShift'>Clear</button>
    </form>
</div>