<div class="tableBox">
    <table>
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            {{#each waiterList}}
            <tr>
                <td data-column="Monday" value="Monday" class={{strings}}>{{string}}</td>
                <td data-column="Tuesday" value="Tuesday" class={{strings}}>{{string}}</td>
                <td data-column="Wednesday" value="Wednesday" class={{strings}}>{{string}}</td>
                <td data-column="Thursday" value="Thursday" class={{strings}}>{{string}}</td>
                <td data-column="Friday" value="Friday" class={{strings}}>{{string}}</td>
                <td data-column="Saturday" value="Saturday" class={{strings}}>{{string}}</td>
                <td data-column="Sunday" value="Sunday" class={{strings}}>{{string}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class=''>
    <form action="/clear" method="GET">
        <button type="submit" name='clearWaiterShift'>Clear</button>
    </form>
</div>